<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <span class ="wee">Welcome to the {{ title }}!</span>
  </h1>
  <section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
      <button class="add" (click)="addTodo(todo)">Add Todo</button>
    </header>
    <section class="main" *ngIf="todos.length > 0">
      <ul class="todo-list">
        <li *ngFor="let todo of todos" [class.completed]="todo.complete">
          <div class="view">
            <span class = "pBadge"><input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"></span>
            <span class="badge"><label>{{todo.title}}</label></span>
            <button class="destroy" (click)="removeTodo(todo)">Remove Todo</button>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="todos.length >= 0">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
  </section>
</div>
